html {
    background-color: #e5e5dc;
  }

  body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

  h1 {
    text-align: center;
    color: #e03c3c;
    border: 20px solid transparent;
  }

 h2 {
    color: #01189e;
  }
/*
  #products {
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    text-align: center;
  }*/ 
  .products {
    border: 1px solid black;
    clear: both; 
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;  
    text-align: center;
  }

  .product{
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
    float: left;
    width: 25%;
    margin: 30px ;
    /*margin: 25px 1.15%;*/
  }
  
 
  ul {
    list-style: disc;
  }
  
  button:active{
    background-color: coral;
  }